.nothing {
  position: relative;
  margin: 0 auto;
  max-width: 1150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  height: 100px;

  bottom: 60px;
  color: #939fa5;
}
