$border-color: #e5e5e5;
$grid-px: 400px;

.card-wrapper {
  display: grid;
  grid-template-columns: $grid-px $grid-px $grid-px;
  grid-template-rows: $grid-px $grid-px;
  place-items: center;
  justify-content: center;
  .card {
    margin: 0px 8px 8px 0;
    padding: 24px 16px;
    width: 366px;
    height: 356px;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-sizing: border-box;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .top-text .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    .line {
      width: 334px;
      height: 0px;
      border: 1px solid $border-color;
      margin-bottom: 32px;
    }
    // span {
    //   margin-left: 32px;
    //   font-weight: bold;
    // }
    .due {
      margin-top: 24px;
      margin-bottom: 10px;
      color: #939fa5;
    }
    .btn {
      display: flex;
      flex-direction: row;
      margin-top: 38px;
      .r-btn {
        margin-right: 8px;
      }
    }
  }
  .card:hover {
    border: 2px solid #2196f3;
  }
}

ul {
  margin: 28px 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    margin: 4px 0;
  }
  div:nth-child(1) {
    font-family: Noto Sans KR;
    font-weight: 400;
    width: 70px;
    height: 20px;
  }
  div:nth-last-child(1) {
    font-family: Noto Sans KR;
    font-weight: 700;
    width: 232px;
    height: 20px;
  }
}
