main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .prototype-card {
    margin: 0 16px 16px 0;
    padding: 24px 16px;
    width: 340px;
    height: 356px;
    border: 1px solid #e5e5e5;

    .prototype-header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      header {
        display: flex;
        justify-content: space-between;
        .prototype-title {
          margin-bottom: 8px;
          font-weight: 600;
          font-size: 16px;
        }
        .badge {
          font-size: 12px;
          color: #ffa000;
        }
      }

      .client {
        margin-bottom: 32px;
        color: #323d45;
        font-size: 14px;
        font-weight: 600;
      }
      .due-date {
        margin-bottom: 16px;
        color: #939fa5;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .contour {
      margin-bottom: 32px;
      border: 1px solid #e5e5e5;
    }
    .table-container {
      margin-bottom: 30px;
      table {
        th {
          padding: 0 32px 8px 0;
          text-align: left;
          color: #323d45;
          font-weight: 400;
        }
        td {
          padding-bottom: 8px;
          font-weight: 700;
        }
      }
    }
    .btn-container {
      display: flex;
      justify-content: start;
      align-items: center;

      .show-request-btn {
        margin-right: 8px;
        width: 108px;
        height: 32px;
        font-size: 14px;
        font-weight: 600;
        background-color: #2196f3;
        color: #fff;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }
      .chat-btn {
        width: 76px;
        height: 32px;
        font-size: 14px;
        font-weight: 600;
        color: #2196f3;
        border: 1px solid #2196f3;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
  .prototype-card:hover {
    border: 1px solid #2196f3;
    transition: all 0.5s;
  }
  .prototype-card:nth-child(3n + 0) {
    margin-right: 0;
  }
}
