main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .prototype-card {
    margin: 0 16px 16px 0;
    padding: 24px 16px;
    width: 340px;
    height: 356px;
    border: 1px solid #e5e5e5;
    cursor: pointer;

    .prototype-header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .prototype-title {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
      }
      .client {
        margin-bottom: 32px;
        color: #323d45;
        font-size: 14px;
        font-weight: 600;
      }
      .due-date {
        margin-bottom: 16px;
        color: #939fa5;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .contour {
      margin-bottom: 32px;
      border: 1px solid #e5e5e5;
    }
  }
  .prototype-card:hover {
    border: 1px solid #2196f3;
    transition: all 0.5s;
  }
  .prototype-card:nth-child(3n + 0) {
    margin-right: 0;
  }
}
